#page-cadastro {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#page-cadastro header {
  width: 70%;
  position: absolute;
  top: 4%;
  left: 18%;
  justify-content: space-between;
  display: flex;
}

#page-cadastro header div {
  width: 20%;
}

#page-cadastro header a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;
  align-items: center;
}

.particles {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  position: absolute;
}

#page-cadastro form {
  position: absolute;
  margin: 2% auto;
  padding: 2%;
  background: #dcdcdc;
  border-radius: 8px;
  left: 30%;
  top: 5%;
  width: 40%;
  display: flex;
  flex-direction: column;
}

#page-cadastro form h1 {
  font-size: 36px;
  color: #0b4e56;
  text-align: center;
}

#page-cadastro form fieldset {
  margin-top: 2%;
  min-inline-size: auto;
  border: 0;
}

#page-cadastro form legend span {
  font-size: 14px;
  font-weight: normal;
  color: var(--text-color);
}

#page-cadastro form .field-group {
  flex: 1;
  display: flex;
}

#page-cadastro form .field {
  flex: 1;

  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

#page-cadastro form .field input[type="text"],
#page-cadastro form .field input[type="email"],
#page-cadastro form .field input[type="number"],
#page-cadastro form .field input[type="password"] {
  flex: 1;
  background: #f0f0f5;
  border-radius: 8px;
  border: 0;
  padding: 3% 3%;
  font-size: 16px;
  color: #6c6c80;
}

#page-cadastro form .field input::placeholder {
  color: #a0a0b2;
}

#page-cadastro form .field label {
  font-size: 14px;
  margin-bottom: 1%;
}

#page-cadastro form .field :disabled {
  cursor: not-allowed;
}

#page-cadastro form .field-group .field + .field {
  margin-left: 2%;
}

#page-cadastro form .field-check {
  flex-direction: row;
  align-items: center;
}

#page-cadastro form .field-check input[type="checkbox"] {
  background: #f0f0f5;
}

#page-cadastro form button {
  width: 55%;
  height: 56px;
  background: #0b4e56;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  margin-top: 5%;
  margin-left: 23%;
  transition: background-color 0.2s;
  cursor: pointer;
}

#page-cadastro form button:hover {
  background: #106a75;
}
#page-cadastro span {
  color: #f64c75;
  align-self: flex-start;
}

@media (max-width: 1045px) {
  #page-cadastro form .field-group {
    display: block;
  }
}
