#page-home {
    background-color: #DCDCDC;
    color: #6C6C80;
  }

#img-home {
  position: absolute;
  width: 50%;
  left: 47%; 
	top: 7%; 
}
  #page-home .content {

    height: 95%;
    margin: 10px auto;
    margin-bottom: 0;
    padding: 0 8%;
    display: flex;
    flex-direction: column;
    position:absolute;
  }
  
  #logo{
    margin-top: 4%;
    width: 10%;
    margin-bottom: 4%;
  }
  
  #page-home .content main {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -7%;
  }
  
  #page-home .content main h1 {
    font-size: 54px;
    color: #0b4e56;
  }
  
  #page-home .content main p {
    font-size: 24px;
    margin-top: 2%;
    line-height: 100%;
  }
  
  #page-home .content main a {
    width: 100%;
    max-width: 70%;
    height: 12%;
    background: #0b4e56;
    border-radius: 8px;
    text-decoration: none;
  
    display: flex;
    align-items: center;
    overflow: hidden;
  
    margin-top: 5%;
  }
  
  #page-home .content main a span {
    display: block;
    background: rgba(0, 0, 0, 0.08);
    width: 20%;
    height: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
  }
  
  #page-home .content main a span svg {
    color: #FFF;
    width: 50%;
    height: 40%;
  }
  
  #page-home .content main a strong {
    flex: 1;
    text-align: center;
    color: #FFF;
  }
  
  #page-home .content main a:hover {
    background: #106a75;
  }
  
  @media(max-width: 900px) {
    #img-home {
      display: none;
    }
    #page-home .content {
      align-items: center;
      text-align: center;
    }
  
    #page-home .content header {
      margin: 48px auto 0;
    }
  
    #page-home .content main {
      align-items: center;
    }
  
    #page-home .content main h1 {
      font-size: 42px;
    }
  
    #page-home .content main p {
      font-size: 24px;
    }
  }
  